html, body {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

img {

  max-width: 100%;
  height: auto;	
}

body {
	font-size: 16px;
}

*, ::before, ::after {
	box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6 {
	text-transform: uppercase;
}

a, a:link, a:hover {
  color: inherit;
  text-decoration: inherit;
}

html {
	background-color: #151413;
	color: #DDD;
	font-family: "Oswald",sans-serif;
	--page-width: 900px;
	--page-padding: 10px;
	scroll-behavior: smooth;
}

.press-kit-link {
	display: none;
}

.section-padding {
	padding: 50px 0px 30px;
}

@media screen and (min-width: 400px) {
	html {
		--page-padding: 20px;
	}
	
	.section-padding {
		padding: 80px 0px 50px;
	}
}

@media screen and (min-width: 700px) {
	.press-kit-link  {
		display: flex;
	}
	html {
		--page-padding: 40px;
	}
	
	.section-padding {
		padding: 120px 0px 80px;
	}
}

nav {
	color: white;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	height: 130px;
	z-index: 999;
	padding: 0 var(--page-padding);
	display: flex;
	justify-content: center;
	transition: all 0.2s ease-in-out;
	transition-property: height, background-color;
	background-color: #0000;
}

nav.scrolled {
	background-color: #00000099;
	height: 106px;
	backdrop-filter: blur(10px);
}

nav a {
	display: flex;
	min-height: 70px;
	padding: 0 18px;
	justify-content: center;
	align-items: center;
	position: relative;
	
}

nav a:before {
	content: "";
	position: absolute;
	top: -200px;
	left: 0;
	right: 0;
	bottom: 100px;
	background-color: #ED080C;
	z-index: -1;
	transition: all 0.15s ease-in 0.05s;
}

nav a:hover:before {
	bottom: -18px;
	transition: all 0.15s ease-out 0;
}

nav a.logo-link:hover:before {
	bottom: -18px;
}

.nav-content {
	width: 100%;
	max-width: var(--page-width);
	display: flex;
	justify-content: space-between;
}

.nav-left, .nav-right {
	display: flex;
	justify-content: center;
	align-items: center;
}

.nav-left img {
	height: 70px;
}

.nav-left {
	margin-left: -18px;
}

.nav-right {
	margin-right: -18px;
	font-size: 35px;
	font-weight: 700;
}

.nav-right svg {
	transform: translateY(1px) scale(1.15);
}

section {
	position: relative;
	background-color: var(--section-bg);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 0 var(--page-padding);
}

.hero {
	background-color: #141312;
	padding: calc(8rem + 40px) 0 5rem 0;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: left;
	min-height: max(500px, 60vh);
}

.hero-body {
	position: absolute;
	top: 150px;
	left: var(--page-padding);
	right: var(--page-padding);
	max-width: 100%;
	bottom: 100px;
	display: flex;
	justify-content: center;
}

.hero-content {
	width: 100%;
	max-width: var(--page-width);
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.hero-content strong {
	font-size: 50px;
	font-weight: 700;
	text-transform: uppercase;
	margin: -12px 0;
}

.hero-content p {
	margin: 0;
	font-size: 20px;
}

@media screen and (min-width: 600px) {
	.hero-content strong  {
		font-size: 90px;
		margin: -25px 0;
	}
	
	.hero-content p {
		font-size: 25px;
	}
	
	.hero {
		min-height: max(600px, 69vh);
	}
}

.hero-text {
	opacity: 0;
}

.loaded-fonts .hero-text {
	animation-duration: 0.3s;
	animation-timing-function: ease-out;
	animation-name: hero-text-appear;
	animation-fill-mode: forwards;
}

.hero-text-1 {
	animation-delay: 0.6s;
}

.hero-text-2 {
	animation-delay: 0.8s;
}

.hero-text-3 {
	animation-delay: 1s;
}

.hero-text-4 {
	animation-delay: 1.2s;
}

.hero-video {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;
	background-attachment: fixed;
	background-color: #537C97;
}

.hero-video video {
	height: 100%;
	width: 196.721311vh;
	min-width: 100%;
	min-height: 50.833333333vw;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	background-attachment: fixed;
}

.mask {
	background-color: var(--section-bg);
	height: 30px;
	mask-image: url("assets/mask.svg");
	mask-repeat: repeat-x;
	-webkit-mask-image: url("assets/mask.svg");
	-webkit-mask-repeat: repeat-x;
	width: 100%;
	position: absolute;
	top: -26px;
	left: 0;
	right: 0;
	overflow: hidden;
	z-index: 1;
	
	animation-name: mask-anim;
	animation-duration: 9s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

.mask.bottom {
	transform: rotate(180deg);
	bottom: -26px;
	top: auto;
}

.games-section {
	--section-bg: #141828;
}

.games {
	display: flex;
	column-gap: 15px;
	row-gap: 40px;
	padding: 0 var(--page-padding);
	max-width: calc(var(--page-width) + var(--page-padding) * 2);
	--shine-border: 0px;
	flex-direction: column;
}

.game {
	display: flex;
	flex-direction: column;
	perspective: 400px;
}

.game:hover {
	z-index: 3;
}

.game img {
	width: 100%;	
}

.game .img-shine {
	position: relative;
	cursor: pointer;
	overflow: hidden;
	border-radius: 15px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.42), 0 5px 8px rgba(0, 0, 0, 0.54);
	transition: all 250ms ease-in-out;
	border: var(--shine-border) solid #FFF0;
	font-size: 0px;
}

.game .img-shine.wip {
	cursor: not-allowed;
}

.game .img-shine:hover {
	transform: scale(1.1) translateY(-15px) rotateX(3deg);
	box-shadow: 0 20px 28px rgba(0, 0, 0, 0.45), 0 11px 10px rgba(0, 0, 0, 0.42);
	filter: contrast(1.2);
	z-index: 3;
	border: var(--shine-border) solid #FFF;
}

.game .img-shine.wip:hover {
	filter: grayscale(1) contrast(1.3);
}

.game .img-shine:after {
  content: '';
  position: absolute;
  top: 0;
  left: -160%;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.4);
  transform: skewX(-30deg);
  transition: 0.6s;
} 

.game .img-shine:hover:after {
  left: 180%;
  background: rgba(255, 255, 255, 0.3);
}

.game strong {
	margin-top: 30px;
	font-size: 28px;
	font-weight: 700;
	text-transform: uppercase;
}

.game p {
	margin-top: 22px;
	opacity: 0.7;
	font-weight: 200;
	font-size: 20px;
}


@media screen and (min-width: 600px) {
	.games {
		flex-direction: row;
	}
}

@media screen and (min-width: 900px) {
	.games {
		column-gap: 90px;
		--shine-border: 2px;
	}
}

.pftr {
	background-position: 50% 50%;
	background-size: cover;
	background-image: url("assets/please/bg.jpg");
}

.spacer {
	height: 1px;
	margin: 15px var(--page-padding);
	max-width: 800px;
	width: 100%;
}

@media screen and (min-width: 800px) {
	.spacer {
		margin: 30px var(--page-padding);
	}
}


.media-grid {
	--grid-gap: 10px;
	width: 100%;
	padding: 0 var(--page-padding);
	max-width: calc(var(--page-width) + var(--page-padding) * 2);
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 1fr 1fr;
	grid-template-areas:
		"v v"
		"s1 s2"
		"s3 s4";
	
}

@media screen and (min-width: 900px) {
	.media-grid  {
		grid-template-columns: 4.29fr 1fr;
		grid-template-areas:
		"v s1"
		"v s2"
		"v s3"
		"v s4";
	}
}

.media-grid > * {
	width: 100%;
	aspect-ratio: 16/9;
	box-shadow: 0 3px 10px #0007;
	background-color: #0007;
	border-radius: 8px;
	overflow: hidden;
}

.media-grid img {
	transition: all 200ms ease-in-out;
	position: relative;
}

.media-grid img:hover {
	filter: contrast(1.25);
}

.media-item-video {
	grid-area: v;
	position: relative;
}

.media-item-video iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.media-item-screen1 {
	grid-area: s1;
}

.media-item-screen2 {
	grid-area: s2;
}

.media-item-screen3 {
	grid-area: s3;
}

.media-item-screen4 {
	grid-area: s4;
}

.stores {
	--gap: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: var(--gap);
}

.stores img {
	height: 50px;
	opacity: 0.7;
	transition: opacity 0.1s ease-in-out;
}

.stores > div {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: var(--gap);
}

.stores a {
	position: relative;
	transition: all 0.15s ease-in-out;
	transform: translateY(-1px);
}

.stores a:hover {
	transform: translateY(-10px);
	z-index: 2;
}

.stores a::before {
	content: "";
	position: absolute;
	top: -12px;
	left: -12px;
	right: -12px;
	bottom: -12px;
	transition: all 0.15s ease-in;
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, .8);
	background-color: rgba(255, 255, 255, 0.45);
	box-shadow: 0 10px 15px 1px rgba(0, 0, 0, 0.2);
	backdrop-filter: blur(15px);
	transition: all 0.15s ease-out;
	opacity: 0;

}

.stores a:hover::before {
	opacity: 1;
}

.stores a:hover img {
	opacity: 0.85;
}

.stores-console {
	opacity: 0.3;
	filter: blur(1.5px);
	cursor: not-allowed !important;
	pointer-events: none;
	position: relative;
}

@media screen and (max-width: 450px) {
	
	.stores {
		--gap: 15px;
	}
	
	.stores > div {
		flex-direction: column;
	}
}

@media screen and (min-width: 450px) and (max-width: 700px) {
	.stores {
		--gap: 20px;
	}
	
	.stores img {
		height: 35px;
	}
}

.press {
	margin-top: -5px;
	display: grid;
	width: 100%;
	padding: 0 var(--page-padding);
	max-width: calc(var(--page-width) + var(--page-padding) * 2);
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
		text-align: center;
}

@media screen and (min-width: 800px) {
	.press {
		margin-top: -25px;
	}

}

.press strong {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 20px;
	color: #000A;
	white-space: nowrap;
	z-index: 2;
}

.press p {
	font-size: 28px;
	display: flex;
	align-items: center;
	height: 100%;
	color: #0007;
	padding: 0;
	margin: 12px 0 20px 0;
	z-index: 2;
}

.press-card {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: column-reverse;
	padding: 20px;
	position: relative;
	transition: all 0.15s ease-out;
}

.press-card:hover {
	transition: all 0.15s ease-in;
	transform: translateY(-10px);
}

.press-card::before {
	content: "";
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, .8);
	background-color: rgba(255, 255, 255, 0.45);
	box-shadow: 0 0px 15px 1px rgba(0, 0, 0, 0.2);
	backdrop-filter: blur(15px);
	transition: all 0.15s ease-out;
	opacity: 0;
}

.press-card:hover::before {
	opacity: 1;
	box-shadow: 0 15px 15px 1px rgba(0, 0, 0, 0.2);
}


@media screen and (max-width: 700px) {
	.press {
		
		grid-template-columns: 1fr;
		grid-template-rows: auto;
	}
	
	.press-card {
		padding: 10px;
	}
	
	.press p {
		margin: 0 0 5px 0;
	}
}

.game-logo {
	max-width: calc(100% - var(--page-padding) * 2);
}

@keyframes mask-anim {
  from {
	  mask-position-x: 0px;
	  -webkit-mask-position-x: 0px;
  }
  to {
	  mask-position-x: 659px;
	  -webkit-mask-position-x: 659px;
  }
}

@keyframes hero-text-appear {
  from {
	  opacity: 0;
	  transform: translateX(-40px);
  }
  to {
	  opacity: 1;
	  transform: translateX(0px);
  }
}

.newsletter {
	--section-bg: #1c2737;
	padding: 70px 0 100px;
}

#mc_embed_signup {
	display: flex;
	padding: 0 var(--page-padding);
	max-width: calc(var(--page-width) + var(--page-padding) * 2);
	width: 100%;
}


#mc_embed_signup strong {
	white-space: nowrap;
	font-weight: 200;
	font-size: 30px;
	display: flex;
	align-items: center;
}

div.mce_inline_error, .mce-response {
	position: absolute;
	left: 0;
	right: 0;
	top: 120%;
	z-index: 2;
	height: 30px;
	background-color: transparent !important;
	color: white !important;
	font-weight: 200 !important;
	padding: 0 10px !important;
	font-size: 20px !important;
}

div.mce_inline_error, #mce-error-response {
	color: #ffb8b8 !important;
}

#mc-embedded-subscribe-form {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	gap: 30px;
	opacity: 0.75;
	margin: 0;
	flex-direction: column;
}

#mce-EMAIL {
	display: block;
	width: 100%;
	padding: 5px 10px;
	font-size: 20px;
	font-family: "Oswald",sans-serif;
	border-radius: 5px;
	border: 1px solid #FFF !important;
	background-color: #FFFC;
	box-shadow: 0 5px 10px #000A;
	outline: none;
}

#mc-embedded-subscribe {
	padding: 5px 10px;
	font-size: 20px;
	font-family: "Oswald",sans-serif;
	border-radius: 5px;
	border: 1px solid #FFF;
	background-color: #FFFC;
	box-shadow: 0 5px 10px #000A;
	cursor: pointer;
}

.mc-field-group {
	display: flex;
	width: 100%;
	position: relative;
	gap: 5px;
}


@media screen and (min-width: 700px) {
	#mc-embedded-subscribe-form {
		flex-direction: row;
	}
	
	.mc-field-group {
		gap: 15px;
	}
}
